<?xml version="1.0" ?>
<launch>
  <!-- Arguments -->
 <!-- Move base -->
<arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_link"/>
<arg name="global_frame_id" default="map"/>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base1" output="screen">
<!--<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />-->
    <rosparam file="$(find my_robot_name_2dnav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot_name_2dnav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot_name_2dnav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot_name_2dnav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot_name_2dnav)/param/base_local_planner_params.yaml" command="load" />
 
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="base_scan" to="base_scan"/>
    <remap from="map" to="map" />

<param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/> 

    <param name="controller_frequency" value="10.0" />

</node>
</launch>
