<?xml version="1.0" ?>
<launch>
<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find myrobot)/launch/empty_world.launch">
<!--<arg name="world_name" value="$(find gazebo_navigation_multi)/worlds/willowgarage.world"/> -->
   <!-- <arg name="world_name" value="$(find gazebo_multi)/world/ball.world"/> --><!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable --> 
    <arg name="world_name" value="$(find myrobot)/world/cr2.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
